@tailwind base;

html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@import "./resizer.css";
@import "./prism.css";
@import "./simplebar.css";

@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-canvas {
    background-image: conic-gradient(
      theme("colors.yellow.300"),
      theme("colors.red.300"),
      theme("colors.purple.300"),
      theme("colors.blue.300"),
      theme("colors.teal.300"),
      theme("colors.yellow.300")
    );
  }
  .logo-shadow-overlay::before {
    content: "";
    mix-blend-mode: overlay;
    width: 106px;
    height: 106px;
    border-radius: 24px;
    position: absolute;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5), 0 2px 59px 0 rgba(0, 0, 0, 0.6), 0 12px 10px -7px rgba(0, 0, 0, 0.8);
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.task-list-item input[type="checkbox"] {
  @apply rounded;
}

.task-list-item input[type="checkbox"]:not(:checked) {
  @apply border-slate-300;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}
